@use './partials/mixins' as *;
@use './partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

div.container{
    width: 1000px;
}
div.s-container{
    width: 470px;
    margin: 0 auto;
}

h1{
    color: $white;
}

h6{
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5rem;
    color: rgb(82, 82, 82);
}